.aside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.sort__select {
  padding: 0 1rem;
  margin-left: 1rem;
  background: none;
  color: #efefef;
  border: none;
  border-bottom: 2px solid #efefef;
}

.sort__option {
  color: var(--grey);
}
